.title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: var(--sp-s);
    margin-left: var(--sp-s);
    color: var(--content-title-color);
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    margin-top: var(--sp-l);
    margin-bottom: var(--sp-s);
    margin-left: var(--sp-s);
    color: var(--theme-color);
}

.subtitle:hover {
    color: var(--theme-color-hover);
    background: var(--dropdown-hover);
}

.contentWrapper {
    min-width: 300px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
}

.contentWrapper__container {
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
}

.contentWrapper__container__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-s);
    gap: var(--sp-m);
    animation: fadeIn 0.3s ease-in-out;
    /* background: var(--content-bg); */
    padding: var(--sp-s);
    border-radius: 5px;
    transition: background 120ms;
    will-change: background;
}

.contentWrapper__container__item:hover {
    background: var(--content-bg);
}

.userProfile_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sp-s);
    user-select: none;
}

.userProfile_desc h3 {
    font-size: 0.8rem;
}

.userProfile_desc p {
    font-size: 0.7rem;
    color: var(--content-title-color);
}

.contentWrapper__leftSection {
    display: flex;
    gap: var(--sp-s);
}

.followBtn {
    font-size: 0.8rem;
    cursor: pointer;
    transition: color 120ms;
    will-change: color;
}

.followBtn:hover {
    color: white;
}

.carouselButton {
    border-radius: 50%;
    background: var(--search-bg);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 120ms;
    transform: rotate(180deg);
    will-change: background;
    cursor: pointer;
    transition: all 120ms;
}

.carouselButton:hover {
    background: var(--dropdown-hover);
}

.carouselButton svg {
    fill: var(--content-title-color);
}

.sidebar__lowerSection {
    margin-top: var(--sp-xl);
    margin-left: var(--sp-s);
    display: flex;
    flex-direction: row;
    gap: var(--sp-l);
}

.sidebar__lowerSection path {
    fill: var(--content-title-color);
}

.footerText {
    font-size: 1rem;
    color: var(--content-title-color);
    margin: var(--sp-s);
}
