.feedContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .feedContainer {
        gap: calc(2 * var(--sp-l));
    }
}