.feedContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.feedContainer__loadMore, .errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: var(--sp-xl);
}

.errorMessage {
    flex-direction: column;
    color: var(--inactive-color);
    font-size: medium
}