.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_outer_container {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container {
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
    border-radius: 50%;
    border: 3px solid var(--theme-bg-color);
}

.image_outer_container .green_icon {
    background-color: #4cd137;
    position: absolute;
    left: 76%;
    top: 70%;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    border-radius: 50%;
}
