:root {
    --header-position: sticky; /* Change to 'relative' for position: relative */
    --header-background: initial; /* Change to theme.other.color.pageBg for background based on condition */
    --header-transition-duration: 400ms;

    --header-z-index: 100;
    --header-height: 60px;
    --std-radius: 10px;
    --radius-half: 50%;

    --sp-s: 0.5rem;
    --sp-m: 0.75rem;
    --sp-l: 1rem;
    --sp-xl: 1.5rem;
    --round-s: 0.25rem;
    --round-m: 0.5rem;
    --round-l: 1rem;

    --theme-bg-color: #1a1a1a;
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: 'Poppins', sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: rgb(255 255 255 / 20%);
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);

    --insta-ring: #f09433;
    --bg-filter: invert(0);
}

.light-mode {
    --theme-bg-color: rgba(255, 255, 255, 0.31);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --search-bg: rgba(16, 16, 16, 0.31);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: #999ba5;

    --insta-ring: #f09433;
    --bg-filter: invert(1);
}

body {
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    font-family: var(--body-font);
    transition: background-color 0.3s ease-in-out;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: rgba(168, 85, 247, 0.9);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.notification--bell {
    animation: bell 2.2s linear;
    transform-origin: 50% 0%;
    animation-iteration-count: 2;
}

.notification--bellClapper {
    animation: bellClapper 2.2s 0.1s linear;
    animation-iteration-count: 2;
}

@keyframes bell {
    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(10deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    55% {
        transform: rotate(8deg);
    }
    60% {
        transform: rotate(-8deg);
    }
}
@keyframes bellClapper {
    0%,
    25%,
    75%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-0.15em);
    }
    45% {
        transform: translateX(0.15em);
    }
    55% {
        transform: translateX(-0.1em);
    }
    60% {
        transform: translateX(0.1em);
    }
}

.toggle {
    --size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #e6e6ff;
    transition: all 500ms;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #ffaa00;
    box-shadow:
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
            var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size);
}

.background {
    --bg: hsl(240, 100%, 10%);
    background: var(--bg);
    transition: background 500ms;
}

.toggle {
    z-index: 1;
}
.toggle:checked ~ .background {
    --bg: white;
}
.toggle:checked ~ .title {
    --color: hsl(40, 100%, 50%);
}

.title {
    --color: hsl(240, 100%, 95%);
    color: var(--color);
    z-index: 1;
    cursor: pointer;
    display: block;
    padding: 0.5rem 0 0;
    transition: color 500ms;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #095ae5;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}