.sectionWrapper__container {
    grid-gap: 0 var(--sp-xl);
    display: grid;
    gap: 0 var(--sp-xl);
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .sectionWrapper__container {
        grid-template-columns: minmax(0, 1fr) max-content;
    }
}

@media (min-width: 1280px) {
    .sectionWrapper__container {
        grid-template-columns: minmax(0, 1fr) max-content;
        max-width: 950px;
    }
}