.headerWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-align: center;
    height: var(--header-height);
    z-index: var(--header-z-index);
    transition: all 0.2s ease 0s;
}

.blur::before,
.blur::after {
    content: '';
    position: absolute;
    inset: -1px 0px -50%;
    pointer-events: none;
    user-select: none;
}

.blur::before {
    backdrop-filter: blur(12px);
    -webkit-mask-image: linear-gradient(
        to bottom,
        black var(--header-height),
        transparent
    );
}

.headerInner {
    z-index: var(--header-z-index);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
    margin: auto 0;
    height: 100%;
}

@media (max-width: 768px) {
    .headerInner {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.headerInner::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
}

.textLogo {
    position: relative;
    font-size: xx-large;
    font-family: sans-serif;
    color: var(--theme-color);
    font-stretch: condensed;
    cursor: pointer;
}

@media (max-width: 768px) {
    .textLogo {
        font-size: x-large;
    }
}

.searchBar {
    z-index: var(--header-z-index);
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 4px;
    transition: max-width 0.2s ease 0s;
    cursor: not-allowed;
}

.searchBar input {
    width: 100%;
    height: 100%;
    background-color: var(--search-bg);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 40px 0 40px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
}

.searchBar input::placeholder {
    font-family: var(--body-font);
    color: var(--theme-color);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .searchBar {
        display: none;
    }
}

.notification {
    position: relative;
    /* width: 1.8rem;
    height: 1.8rem; */
    cursor: not-allowed;
}

.notification svg > path {
    fill: var(--theme-color);
}

.notificationNumber {
    position: absolute;
    top: -10%;
    left: 50%;
    font-size: 0.8rem;
    border-radius: var(--radius-half);
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff4c13;
    border: 2px solid #ff4c13;
    color: var(--theme-color);
    text-align: center;
    animation: fadeIn 2.2s linear;
    animation-iteration-count: 2;
}

.header__rightSection {
    display: flex;
    align-items: center;
    gap: calc(1.5 * var(--sp-xl));
}