.Illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    --post-desktop-padding: var(--sp-m);
    --post-mobile-padding: calc(var(--sp-m) / 2);
    overflow: hidden;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--post-desktop-padding);
    width: 100%;
    border-radius: var(--std-radius) var(--std-radius) 0 0;
    min-height: 60px;
}

.postHeader__leftSection {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
    padding: 0.4rem;
    border-radius: 10px;
}

.postHeader__leftSection:hover {
    background: var(--content-bg);
} 

.postFooter__stacked {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: var(--post-desktop-padding);
    width: 100%;
    border-radius: 0 0 var(--std-radius) var(--std-radius);
    min-height: 60px;
    gap: var(--sp-s);
}

.postFooter__leftSection {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
}

.postFooter__rightSection {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
}

.postFooter__iconSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: var(--sp-s);
}

.postImage {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.postImage__withMeta {
    border-radius: var(--round-m);
    transition: all 0.1s;
}

.postImage__withMeta:hover {
    transform: scale(1.05);
}

.postImage__wrapper {
    overflow: hidden;
}

.postHeader__userInfo {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-color);
}

.postHeader__subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--content-title-color);
}

.postFooter__iconButton {
    cursor: pointer;
}

.likeButton:hover path {
    fill: #ed4956;
}

.saveButton:hover path{
    stroke: #73d3d0;
}

.shareButton:hover path{
    fill: #27d9d5;
}

.commentButton, .shareButton, .saveButton {
    cursor: not-allowed;
}

.commentButton:hover path{
    stroke: #24a0ed;
}

.dotIcon {
    cursor: not-allowed;
}

.postCaption {
    font-size: small;
    color: var(--content-title-color);
}

@media (max-width: 768px) {
    .postHeader {
        padding: var(--post-mobile-padding);
    }

    .postFooter__stacked {
        padding: var(--post-mobile-padding);
    }

    .postHeader__leftSection {
        gap: var(--sp-s);
    }
}