.userProfileSection {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--sp-xl);
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
    .userProfileSection {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: var(--sp-xl);
        padding: var(--sp-xl);
    }
}

.profile__leftSection {
    padding: var(--sp-m);
}

.profile__rightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--sp-l);
}

.welcomeTitle {
    font-size: 2rem;
}

.profileSection_userStats {
    display: flex;
    flex-direction: row;
    gap: var(--sp-l);
    font-weight: 400;
    color: var(--content-title-color);
}

.profileSection_userStats b {
    font-weight: 500    ;
    color: var(--theme-color);
}

@media (max-width: 768px) {
    .profileSection_userStats {
        gap: var(--sp-m);
    }
}

.profileSection_userBio {
    display: flex;
    flex-direction: column;
    gap: var(--sp-m);
    font-size: small;
}

.profile__bottomSectionGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: var(--sp-xl);
    width: 100%;
    justify-content: center;
    animation: smoothScaleFade 0.3s ease-in-out forwards;
}

.profile__bottomSectionList {
    display: flex;
    flex-direction: column;
    gap: var(--sp-xl);
    width: 100%;
    align-items: center;
    animation: smoothScaleFade 0.3s ease-in-out forwards;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.08);
    margin-top: var(--sp-xl);
    margin-bottom: var(--sp-xl);
}

.profile__viewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sp-s);
    padding: var(--sp-s);
    border-radius: 5px;
    background-color: var(--content-bg);
    color: var(--theme-color);
    font-size: small;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile__viewButton {
        width: 100%;
        padding: var(--sp-m);
        margin-left: var(--sp-m);
        margin-right: var(--sp-m);
    }
}

.profile__viewButton_active {
    background-color: var(--theme-color);
    color: var(--theme-bg-color);
}

.profile__viewButton:hover {
    opacity: 0.8;
}

.profile__viewButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--sp-s);
    justify-content: flex-end;
}

@keyframes smoothScaleFade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}